.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 300px;
    margin:auto;
    padding: 10px;
    border: 1px solid #bbb;
}

.display{
    grid-column: span 4;
    padding: 10px;
    text-align: right;
    background-color: #f3f3f3;
}

.btn{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: blue;
}

.btn:hover{
    background-color: #d4d4d4;
}